<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Presença</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha512-6HmJ9Y5PZWQVCd4KUwIaSgtDskfsykB+Fvm8Nq98GVCMHstaVoX9jqDdwSyGCbmJy5eLs/DXgDE3SXRS+2B2yA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.2.11/jspdf.plugin.autotable.min.js" integrity="sha512-5DeDgl/s7g7z1Z3XAey28NhA289vT9aGbLoPGFGFhwnkkZ8WRbepIM8fKB3OCYWgezPyzzQYHED8TyPd9qSKTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <script> window.jsPDF = require('jspdf');</script>
    <style>

        /* Estilos específicos para a impressão */
        @media print {
            table {
                page-break-inside: auto;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto;
            }

            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }
            th.col1,
            td.col1 {
                width: 15%;
            }

            th.col2,
            td.col2 {
                width: 2%;
            }
            th.col3,
            td.col3 {
                width: 5%;
            }

            th.col4,
            td.col4 {
                width: 40%;
            }

            body{
                margin: 0mm;
            }

            @page {
                size: landscape;

                margin: 0mm !important;
            }

        }
    </style>

</head>
<body>