<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">Busca de Professores</div>
        <div class="card-body">
            <form method="POST" action="/professors/buscar">
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="nome" 
                        id="nome" 
                        class="form-control" 
                        placeholder="Nome do professor" 
                    >
                    <label for="nome">Nome do professor</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="numeroRegistro" 
                        id="numeroRegistro" 
                        class="form-control" 
                        placeholder="Numero do registro" 
                    >
                    <label for="numeroRegistro">Numero do registro</label>
                </div>
                <label for="Status">Status</label>
                <div class="form-floating mb-3">
                    <select name = "status">
                        <option value = "Selecionar Status"> Selecionar Status</option> 
                        <option value = "Ativo"> Ativo</option>
                        <option value = "Inativo"> Inativo</option>
                </select>
                </div>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    <a href="/professors" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs') %>