<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>
<div class="container">
    <a href="/professors/novo" class="btn btn-primary">Novo Professor</a>
    <a href="/professors/busca" class="btn btn-primary">Busca Professor</a>
    <br>
</div>

<%- include('../partials/footer.ejs') %>