<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<br>
<div class="container">
    <% if(msgNOKCreateCurso == '1') {%>
        <div class="alert alert-danger">
            <strong>:( Selecionar o período do curso!</strong>             
        </div>
    <% } %>
    <div class="card">
        <div class="card-header">
            Novo Curso
        </div>
        <div id="alerta"></div>
        <div class="card-body">
            <form method="post" action="/cursos">
        <div class="form-floating mb-3">
            <input 
                type="text" 
                name="nomeCurso" 
                id="nomeCurso" 
                class="form-control" 
                placeholder="Nome do curso" 
                required>
            <label for="nomeCurso">Nome do curso</label>
        </div>
        <div class="form-floating mb-3">
            <input 
                type="text" 
                name="codigoCurso" 
                id="codigoCurso" 
                class="form-control" 
                placeholder="Codigo do curso" 
                required>
            <label for="codigoCurso">Código do curso</label>
        </div>
        <label for="periodo">Período do curso</label>
        <div class="form-floating mb-3">
            <select name = "periodo"> 
                <option value="" disabled selected>Selecione o período</option>
                <option value = "Manhã"> Manhã</option>
                <option value = "Tarde"> Tarde</option>
                <option value = "Noite"> Noite</option>
                <option value = "EAD"> EAD</option>
        </select>
        </div>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/cursos" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>